.tweet {
    display: flex;
    align-items: flex-start;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.content {
    flex: 1;
}

.avatar {
    width: 48px;
}

.actions {
    display: flex;
}

.actions li {
    list-style: none;
}