* + * {
    margin-top: 10px;
}

header {
    background-color : #ccc;
    text-align : center;
    padding : 5px;
    border-radius: 15px;
}

main {
    background-color : #666;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
}

div.col.small {
    flex: 1;
}

div.col.large {
    flex: 2;
}

div.col {
    background-color : #ccc;
    text-align : center;
    border-radius: 15px;
    padding : 5px;
    margin-top: 0;
}

div.col + div.col {
    margin-left: 10px;
}

footer {
    background-color : #ccc;
    text-align : center;
    border-radius: 15px;
    padding : 5px;
}