div {
	display: inline-block;
	height: 150px;
	width: 150px;
	text-align: center;
	border: 2px solid black;
	background-color: #ea5;	
	vertical-align: top;
}

.one {	
	position: relative;	
	z-index: 2;
}

.nested {
	position: absolute;
	top: 5px;
	right: 5px;
	width: auto;
	background-color: #fff;
	height: 1.5em;
	padding: 0.2em;
	z-index: 1;
}

.two {  
	position: relative;
	top: 30px;
	left: -30px;
	z-index: 3;
}

.three {  
	position: relative;
	top: 60px;
	left: -60px;
	z-index: 1;
}

/*
div + div {
	margin-left: -60px;
}

.one {
    position: relative;
    z-index: 1;
}

.two {   
    margin-top: 30px;
    position: relative;
    z-index: 2;
}

.three {
	margin-top: 60px;
}

.absolute {
    position: absolute;
	top: 1em;
	right: 1em;
	height: 1.5em;
	width: auto;
	background-color: #fff;
	border: 2px solid black;	
	line-height: initial;
	padding: 0.5em;
}
*/